html, body {
  background-color: #333;
}
#map{
  min-height:100%;
  height:100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  vertical-align: middle;
  display: table-cell;
}

.site-wrapper-inner div i {
  font-size:110px;
  padding-top: 15px;
  text-align: center;
  color: #13F004;
  display: block;
  margin: 0px auto 0px auto;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: solid 5px #CCC;
  -webkit-transition : all 300ms ease-out;
  -moz-transition : all 300ms ease-out;
  -o-transition : all 300ms ease-out;
  transition : all 300ms ease-out;
  cursor: pointer;
}

.site-wrapper-inner div i:hover {
  border-color: #13F004;
  margin-top: 10px;
}


#playlists {
  display: block;
  width: 50%;
  margin: 15% auto 0 auto;
  height: 70%;
  overflow: auto;
  border-top: solid 2px #13F004;
  border-bottom: solid 2px #13F004;
  list-style: none;
  padding: 10px 0px;
}


#playlists li {
  display: block;
  content: #13F004;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}

#playlists li.fresh {
  background-color: #CCC;
}

#playlists li.active {
  background-color: #222222;
  color: #13F004;
}


#playlists li:hover {
  background-color: #222222;
}

#actions_list {
  height: 100%;
}

#actions_list .actions_container {
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330px;
  margin-left: -165px;
  margin-top: -55px;
}

#actions_list .actions_container i{
  font-size:80px;
  padding-top: 5px;
  text-align: center;
  color: #13F004;
  display: inline-block;
  margin: 0px auto 0px auto;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: solid 5px #CCC;
  -webkit-transition : all 300ms ease-out;
  -moz-transition : all 300ms ease-out;
  -o-transition : all 300ms ease-out;
  transition : all 300ms ease-out;
  cursor: pointer;
}

#actions_list i:hover {
  border-color: #13F004;
}